__pycache__

deploy
ansible.cfg

.dockerignore
*Dockerfile
docker-compose*

.venv
.vscode
expense_fe
media
node_modules
.git
.gitignore
.python-version
package.json
package-lock.json
staticfiles
tsconfig.json
webpack.config.js