{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if activities %}
        <div class="row mt-4">
            {% if expenses %}
            <div class="col-md-6 col-sm-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            {% now "F" %}'s Expense breakdown
                        </h6>
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="{% if expenses %}col-md-6{% endif %} col-sm-12 mt-2">
                <h6>Balance</h6>
                <div class="row" id="accountBalance"></div>
            </div>
        </div>
        <div id="activityFilter" class="row mt-5"></div>
        <div id="activityList" class="row mt-2 mb-5"></div>

        {{ accounts|json_script:"accounts-data" }}
        {{ activities|json_script:"activities-data" }}
        {{ expenses|json_script:"expenses-data" }}
        <script src="{% static 'dashboard.js' %}"></script>
    {% else %}
        {% include "dashboard/empty_partial.html" %}
    {% endif %}
{% endblock content %}