{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mt-4">
    {% if expenses %}
    <div class="col-md-6 col-sm-12 mt-2">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                    {% now "F" %}'s Expense breakdown
                </h6>
                <div id="chart"></div>
                <a class="card-link" href="{% url 'expenses:detail' %}">See detail &gt;&gt;</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="{% if expenses %}col-md-6{% endif %} col-sm-12 mt-2">
        <h6>Balance</h6>
        <div class="row">
            {% for account in accounts %}
                <div class="mb-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <a class="card-link" href="{{ account.url }}"><b>{{ account.name }}</b></a
                            >
                            <div class="card-text">{{ request.user.currency }}&nbsp;{{ account.balance }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mb-3 col-6">
                <div class="card py-lg-2" style="background: none; border-style: dashed">
                    <div class="card-body text-center">
                        <a class="card-link" href="{% url 'accounts:create_view' %}">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-plus"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            Add new account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        Show:
        <button id="filter-all-activities" class="ms-1 btn btn-primary btn-sm">
            All Activities
        </button>
        <button id="filter-expenses" class="ms-1 btn btn-outline-secondary btn-sm">
            Expenses
        </button>
    </div>
</div>
<div class="row mt-2 mb-5">
    <div class="col-12">
        <div id="activity-table" class="card">
            <div class="card-header">
                <h6 class="card-title ms-2 my-2">{% now "F" %}'s transactions</h6>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount ({{ request.user.currency }})</th>
                            <th scope="col">Account</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td>{{ activity.description }}</td>
                                <td
                                    class="{% if activity.action == 'DEBIT' %}text-danger{% else %}text-success{% endif %}"
                                >
                                    {{ activity.amount }}
                                </td>
                                <td>{{ activity.account }}</td>
                                <td>{{ activity.created_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="expense-table" class="card d-none">
            <div class="card-header">
                <h6 class="card-title ms-2 my-2">{% now "F" %}'s expenses</h6>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount ({{ request.user.currency }})</th>
                            <th scope="col">Account</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                            {% if activity.expense %}
                            <tr>
                                <td>{{ activity.description }}</td>
                                <td
                                    class="{% if activity.action == 'DEBIT' %}text-danger{% else %}text-success{% endif %}"
                                >
                                    {{ activity.amount }}
                                </td>
                                <td>{{ activity.account }}</td>
                                <td>{{ activity.created_at }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ expenses|json_script:"expenses-data" }}
<script src="{% static 'dashboard.js' %}"></script>
{% endblock content %}