{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-8 col-sm-12">
        {% if object.pk %}
        <h3>Update {{ account.name|title }} account detail</h3>
        <p class="text-secondary">
            Update {{ account.name|title }} account detail.
        </p>
        {% else %}
        <div class="row mt-4">
        <h3>Create new account</h3>
        <p class="text-secondary">
            Create a new account to track your expenses.
        </p>
        {% endif %}
    </div>
    {% if object.pk %}
    <div class="col-md-4 col-sm-12 text-md-end text-sm-start">
        <a style="min-width: 80px;" class="mt-3 btn btn-outline-danger" href="{% url 'accounts:delete_view' account.slug %}">
            Delete account
        </a>
    </div>
    {% endif %}
</div>
<div class="row mt-3">
    <div class="col-12">
        <form method="post" class="card">
            <div class="card-body p-4">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label" for="id_name">Account Name:</label>
                    <input class="form-control {% if form.name.errors %}is-invalid{% endif %}" type="text" name="name"
                        required id="id_name" value="{{ form.name.value|default:'' }}">
                    <span class="form-text">Name should represent your actual account name e.g. Maybank, CIMB, Touch N Go, Cash</span>
                    {% for error in form.name.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_description">Description:</label>
                    <input class="form-control {% if form.description.errors %}is-invalid{% endif %}" type="text" name="description" id="id_description" value="{{ form.description.value|default:'' }}">
                    {% for error in form.description.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_initial_balance">Initial Balance ({{ request.user.currency }}):</label>
                    <input class="form-control {% if form.initial_balance.errors %}is-invalid{% endif %}" type="number" name="initial_balance"
                        step="0.01" id="id_initial_balance" value="{{ form.initial_balance.value }}">
                    {% for error in form.initial_balance.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <input class="mt-3 btn btn-primary" type="submit" value="{% if object.pk %}Update{% else %}Create{% endif %}">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
