{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-8 col-sm-12">
        <h3 class="dropdown-toggle" data-bs-toggle="dropdown" role="button">
            {{ month_name }}'s {{ account.name|title }} transactions
        </h3>
        <ul style="width: 50%;" class="dropdown-menu">
            <li><p class="dropdown-header">Show transactions for:</p></li>
            {% for date in all_account_balance_month %}
            <li>
                <a
                    class="dropdown-item"
                    href="{% url 'accounts:detail_view' slug=account.slug %}?month={{ date.month }}&year={{ date.year }}">
                    {{ date|date:"M Y" }}
                </a>
            </li>
            {% endfor %}
            </li>
        </ul>
        <p class="text-secondary">
        {% if account.description %}
        {{ account.description|title }} detail.
        {% else %}
        Transactions using {{ account.name|title }} account.
        {% endif %}
        </p>
    </div>
    <div class="col-md-4 col-sm-12 text-md-end text-sm-start">
        <a style="min-width: 80px;" href="{% url 'accounts:update_view' account.slug %}" class="mt-3 btn btn-outline-primary">Update details</a>
    </div>
</div>

<div class="mt-3 row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-4">
                <h4 class="card-title">Available Balance: {{ request.user.currency }} {{ available_balance|intcomma }}</h4>
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>

{% include "partial/transaction_table.html" with transactions=transactions hide_filter="false" %}

{{ balances|json_script:"balances-data" }}
<script src="{% static 'accountDetail.js' %}"></script>
{% endblock content %}
