{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row mt-4">
    <div class="col-6">
        <h3>
            <a class="dropdown-toggle" data-bs-toggle="dropdown" style="color: black; text-decoration: none;" role="button">{{ month_name }}'s {{ account.name|title }} transactions</a>
            <ul style="width: 50%;" class="dropdown-menu">
                <li><p class="dropdown-header">Show transactions for:</p></li>
                {% for date in all_account_balance_month %}
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'accounts:detail_view' slug=account.slug %}?month={{ date.month }}&year={{ date.year }}">
                        {{ date|date:"M Y" }}
                    </a>
                </li>
                {% endfor %}
                </li>
            </ul>
        </h3>
        {% if account.description %}
        <p class="text-secondary">
            {{ account.description|title }} detail.
        </p>
        {% else %}
        <p class="text-secondary">
            Transactions using {{ account.name|title }} account.
        </p>
        {% endif %}
    </div>
    <div class="col-6 text-end">
        <a href="{% url 'accounts:update_view' account.slug %}" class="mt-3 btn btn-outline-primary">Edit</a>
        <a class="mt-3 btn btn-danger" href="{% url 'accounts:delete_view' account.slug %}">Delete</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-4">
                <h4 class="card-title">Available Balance: {{ request.user.currency }} {{ available_balance|intcomma }}</h4>
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>

{% include "partial/transaction_table.html" with transactions=transactions hide_filter="false" %}

{{ balances|json_script:"balances-data" }}
<script src="{% static 'accountDetail.js' %}"></script>
{% endblock content %}