{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
    {% for account_name, account_amount in accounts.items %}
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">{{ account_name|title }}</div>
                <p class="card-text">{{ account_amount }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in actions %}
                        <tr>
                            <td scope="row">{{ action.description }}</td>
                            {% if action.action == "DEBIT" %}
                            <td class="text-danger">-&nbsp;{{ action.amount }}</td>
                            {% else %}
                            <td class="text-success">&nbsp;{{ action.amount }}</td>
                            {% endif %}
                            <td>{{ action.account_type }}</td>
                            <td>{{ action.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}