{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
    <h3>
        {% if object.pk %}
        Update event detail
        {% else %}
        Create an event
        {% endif %}
    </h3>
    <p class="text-secondary">
        {% if object.pk %}
        Update {{ object.name }} details.
        {% else %}
        Create a new event.
        {% endif %}
    </p>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form class="card" method="post">
            <div class="card-body p-4">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label" for="id_name">Name:</label>
                    <input
                        class="form-control"
                        type="text"
                        name="name"
                        maxlength="120"
                        required
                        value="{{ form.name.value|default:'' }}"
                        id="id_name">

                    {% for error in form.name.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col">
                        <label for="id_start_date" class="form-label">Start date</label>
                        <input
                            class="form-control"
                            type="date"
                            name="start_date"
                            required
                            value="{{ form.start_date.value|date:'Y-m-d' }}"
                            id="id_start_date">

                        {% for error in form.start_date.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <label for="id_end_date" class="form-label">End date</label>
                        <input
                            class="form-control"
                            type="date"
                            name="end_date"
                            required
                            value="{{ form.end_date.value|date:'Y-m-d' }}"
                            id="id_end_date">

                        {% for error in form.end_date.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-3">
                    <span class="form-text">
                        You can assign expenses to event only when the event is active.
                    </span>
                </div>
                <input class="mt-3 btn btn-primary" type="submit" value="{% if object.pk %}Update{% else %}Create{% endif %}">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
