{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-8 col-sm-12">
        <h3>
            Expenses for event {{ event.name }}
        </h3>
        <p class="text-secondary">
            {% if event.active %}
            {{ event.start_date|date:"d M Y" }} - {{ event.end_date|date:"d M Y" }}.
            <span class="text-success">
                <b>Active</b>
            </span>
            {% else %}
            {{ event.start_date|date:"d M Y" }} - {{ event.end_date|date:"d M Y" }}.
            <span class="text-danger">
                <b>Inactive</b>
            </span>
            {% endif %}
        </p>
        {% if expenses %}
        <p>You've spent <b>{{ request.user.currency }}  {{ total_expense.total|intcomma }}</b> for this event.</p>
        {% endif %}
    </div>
    <div class="col-md-4 col-sm-12 text-md-end text-sm-start">
        <a href="{% url 'events:update' event.slug %}" class="mt-3 btn btn-outline-primary">Update detail</a>
    </div>
</div>

{% if expenses %}
    <div class="row mt-3">
        <div class="col-12">
            Spending breakdown by:
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div id="category-chart-container" class="card-body">
                    <h4 class="card-title">
                        Category
                    </h4>
                    <div id="category-chart"></div>
                    <div class="mt-3 d-flex flex-wrap justify-content-evenly" id="category-chart-legend"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div id="account-chart-container" class="card-body">
                    <h4 class="card-title">
                        Account
                    </h4>
                    <div id="account-chart"></div>
                    <div class="mt-3 d-flex flex-wrap justify-content-evenly" id="account-chart-legend"></div>
                </div>
            </div>
        </div>
    </div>

    {% include "partial/transaction_table.html" with transactions=expenses hide_filter="true" %}
    {{ expense_by_category|json_script:"expense-by-category" }}
    {{ expense_by_account|json_script:"expense-by-account" }}
    <script src="{% static 'twoDonuts.js' %}"></script>
{% else %}
    {% include "events/empty_partial.html" %}
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h5>
                {% if not event.active %}
                No expenses were made for this event
                {% else %}
                Start adding expenses to this event.
                {% endif %}
            </h5>
            {% if event.active %}
            <a href="{% url 'expenses:add' %}?event={{ event.slug }}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
                    <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                    <path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2"></path>
                </svg>
                &nbsp;Add an expense
            </a>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock content %}
