{% extends "base.html" %}
{% load static %}
{% block content %}

{{ accounts|json_script:"account-balances" }}
{{ categories|json_script:"expense-categories" }}
{{ active_events|json_script:"expense-events" }}

<div class="row mt-4">
    <h3>Create expenses</h3>
    <p class="text-secondary">
        Create expenses.
    </p>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card" id="form"></div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form class="card" method="post" enctype="multipart/form-data">
            <div class="card-body p-4">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label" for="id_from_account">From Account:</label>
                    <select class="form-select {% if form.from_account.errors %}is-invalid{% endif %}" name="from_account" required="" id="id_from_account">
                        {% for account in accounts %}
                        <option {% if account.slug == form.from_account.value %}selected{% endif %} value="{{ account.slug }}">
                            {{ account.name }} - balance: {{ request.user.currency }} {{ account.balance }}
                        </option>
                        {% endfor %}
                    </select>
                    {% for error in form.from_account.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_amount">Amount ({{ request.user.currency }}):</label>
                    <input class="form-control {% if form.amount.errors %}is-invalid{% endif %}" type="number" name="amount"
                        step="0.01" required id="id_amount" value="{{ form.amount.value }}">
                    {% for error in form.amount.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_description">Description:</label>
                    <input class="form-control" type="text" name="description" maxlength="255" id="id_description"
                        value="{{ form.description.value|default:'' }}">
                    {% for error in form.description.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    <label class="form-label" for="id_category">category:</label>
                    <select class="form-select {% if form.category.errors %}is-invalid{% endif %}" name="category" id="id_category">
                        <option value="">----</option>
                        {% for category in categories %}
                        <option
                            {% if category.slug == form.category.value %}selected{% endif %}
                            value="{{ category.slug }}"
                        >
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>

                    <div class="row">
                        <div class="col-6">
                            {% for error in form.category.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-6 text-end">
                            <p>
                                <a
                                    class="card-link"
                                    href="{% url 'expenses:categories:add' %}?next={% url 'expenses:add' %}"
                                >
                                    Add new category
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                {% include "partial/update_image_form.html" with errors=form.image.errors %}

                {% if active_events %}
                <label class="form-label" for="id_event">Event:</label>
                <select class="form-select" name="event" id="id_event">
                    <option value="" selected="">---------</option>
                    {% for event in active_events %}
                    <option value="{{ event.slug }}" {% if event.slug == form.event.value %}selected{% endif %}>
                        {{ event.name }}
                    </option>
                    {% endfor %}
                </select>

                {% for error in form.description.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
                {% endif %}

                <input class="mt-3 btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    </div>
</div>

<script src="{% static 'selectDefaultFromUrl.js' %}"></script>
<script src="{% static 'expenseForm.js' %}"></script>
{% endblock content %}
