{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mt-4">
    <h3>{% now 'F' %}'s expense breakdown</h3>
    <p class="text-secondary">
        A breakdown of your expenses for the month of {% now 'F' %}.
    </p>
</div>
<div class="row mt-3">
    <div class="col-12">
        Breakdown by:
        <button id="show-by-category" class="ms-1 btn btn-primary btn-sm">
            category
        </button>
        <button id="show-by-account" class="ms-1 btn btn-outline-secondary btn-sm">
            account
        </button>
    </div>
</div>
<div class="row mt-2 mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 id="chart-title" class="card-title">
                    Expenses by category
                </h4>
                <div id="category-chart"></div>
                <div id="account-chart" class="d-none"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title ms-2 my-2">{% now "F" %}'s transactions</h6>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.description }}</td>
                                <td class="text-danger">
                                    {{ expense.amount }}
                                </td>
                                <td>{{ expense.from_action__account__name }}</td>
                                <td>{{ expense.created_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ expense_by_category|json_script:"expense-by-category" }}
{{ expense_by_account|json_script:"expense-by-account" }}

<script src="{% static 'expenseDetail.js' %}"></script>
{% endblock content %}