{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mt-4">
    <h3>
        <a id="expense-date-button" style="color: black; text-decoration: none;" role="button">
            {{ month_name }}'s expense breakdown
            <svg id="dropdown-arrow" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                <path d="M8 12l4 4"></path>
                <path d="M12 8v8"></path>
                <path d="M16 12l-4 4"></path>
            </svg>
        </a>
    </h3>
    <ul id="expense-date-dropdown" style="width: 50%;" class="dropdown-menu mt-4">
        <li><p class="dropdown-item">Show breakdown for:</p></li>
        <li><hr class="dropdown-divider"></li>
        {% for date in all_expense_months %}
        <li><a class="dropdown-item" href="{% url 'expenses:detail' %}?month={{ date.date.month }}&year={{ date.date.year }}">{{ date.date|date:"M Y" }}</a></li>
        {% endfor %}
        </li>

    </ul>
    <p class="text-secondary">
        {% if total_expense %}
        You've spent <b>{{ request.user.currency }}  {{ total_expense }}</b> this month.
        {% else %}
        A breakdown of your expenses for the month of {{ month_name }}.
        {% endif %}
    </p>
</div>
<div class="row mt-3">
    <div class="col-12">
        Breakdown by:
        <button id="show-by-category" class="ms-1 btn btn-primary btn-sm">
            category
        </button>
        <button id="show-by-account" class="ms-1 btn btn-outline-secondary btn-sm">
            account
        </button>
    </div>
</div>
<div class="row mt-2 mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 id="chart-title" class="card-title">
                    Expenses by category
                </h4>
                <div id="category-chart"></div>
                <div id="account-chart" class="d-none"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title ms-2 my-2">{% now "F" %}'s transactions</h6>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount ({{ request.user.currency }})</th>
                            <th scope="col">Account</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                            <tr>
                                <td data-bs-toggle="modal" data-bs-target="#expense-modal-{{ expense.uid }}">
                                {{ expense.description }} 
                                {% include 'partial/icon_receipt.html' %}
                                </td>
                                <td class="text-danger">
                                    {{ expense.amount }}
                                </td>
                                <td>{{ expense.account }}</td>
                                <td>{{ expense.category }}</td>
                                <td>{{ expense.created_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% for expense in expenses %}
{% include "partial/expense_modal.html" with uid=expense.uid description=expense.description account=expense.account amount=expense.amount category=expense.category created_at=expense.created_at image=expense.image %}
{% endfor %}
  
{{ expense_by_category|json_script:"expense-by-category" }}
{{ expense_by_account|json_script:"expense-by-account" }}

<script src="{% static 'expenseDetail.js' %}"></script>
{% endblock content %}