{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
    <h3>Expense categories</h3>
    <p class="text-secondary">
        List of your expense categories
    </p>
</div>
<div class="class mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-6">
                                        <a  
                                            class="card-link"
                                            href="{% url 'expenses:categories:update' category.pk %}?next={% url 'expenses:categories:list' %}">
                                            {{ category.name }}
                                        </a>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{% url 'expenses:categories:delete' category.pk %}" class="btn btn-danger">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}