{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
    <h3>Update expense</h3>
    <p class="text-secondary">Update expense detail.</p>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form class="card" method="post" enctype="multipart/form-data">
            <div class="card-body p-4">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label" for="id_from_account">From Account:</label>
                    <input class="form-control disabled" type="text" value="{{ expense.from_action.account.name }}" disabled>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_amount">Amount ({{ request.user.currency }}):</label>
                    <input class="form-control disabled" type="number" value="{{ expense.amount }}" disabled>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_description">Description:</label>
                    <input
                        class="form-control"
                        type="text"
                        name="description"
                        maxlength="255"
                        id="id_description"
                        value="{% if form.description.value %}{{ form.description.value|default:'' }}{% else %}{{ expense.description }}{% endif %}"
                    >
                    {% for error in form.description.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div>
                    <label class="form-label" for="id_category">category:</label>
                    <select class="form-select {% if form.category.errors %}is-invalid{% endif %}" name="category" id="id_category">
                        <option value="">----</option>
                        {% for category in categories %}
                        <option
                            {% if category.slug == expense.category.slug %}selected{% endif %}
                            value="{{ category.slug }}"
                        >
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>

                    <div class="row">
                        <div class="col-6">
                            {% for error in form.category.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-6 text-end">
                            <p>
                                <a
                                    class="card-link"
                                    href="{% url 'expenses:categories:add' %}?next={% url 'expenses:update' expense.slug %}"
                                >
                                    Add new category
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                {% include "partial/update_image_form.html" with errors=form.image.errors %}

                <input class="mt-3 btn btn-primary" type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
