{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% include "partial/navbar.html" %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-2">
                <a href="{% url 'accounts:add_view' %}" class="btn btn-primary w-100">Add</a>
            </div>
            <div class="col-2">
                <a href="{% url 'accounts:transfer_view' %}" class="btn btn-primary w-100">Transfer</a>
            </div>
            <div class="col-2">
                <a href="{% url 'accounts:withdraw_view' %}" class="btn btn-primary w-100">Withdraw</a>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>