{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-6 align-self-center mt-5">
        <div class="card">
            <form method="post" class="card-body p-4">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label" for="id_email">Email address:</label>
                    <input
                        class="form-control"
                        type="email"
                        name="email"
                        maxlength="254"
                        id="id_email"
                        value="{{ form.email.value|default:'' }}"
                    >
                    {% for error in form.email.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_username">Username:</label>
                    <input
                        class="form-control"
                        type="text"
                        name="username"
                        maxlength="150"
                        autocapitalize="none"
                        autocomplete="username"
                        required
                        id="id_username"
                        value="{{ form.username.value|default:'' }}"
                    >
                    <span class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                    {% for error in form.username.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_password1">Password:</label>
                    <input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1">
                    {% for error in form.password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <span class="form-text">
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_password2">Password confirmation:</label>
                    <input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2">
                    {% for error in form.password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <span class="form-text">Enter the same password as before, for verification.</span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="id_currency">Currency:</label>
                    <select class="form-select {% if form.currency.errors %}is-invalid{% endif %}" name="currency" id="id_currency" required>
                        <option value="">----</option>
                        {% for currency in currencies %}
                        <option
                            {% if currency.0 == form.currency.value %}selected{% endif %}
                            value="{{ currency.0 }}"
                        >
                            {{ currency.1 }}
                        </option>
                        {% endfor %}
                    </select>
                    <span class="form-text">Currency is only used to display monetary values.</span>
                </div>

                <div class="d-grid gap-2">
                    <input type="submit" value="Sign Up" class="btn btn-primary">
                </div>
                <hr>
                <p>
                    Already have an account, <a class="card-link" href="{% url 'users:signin' %}">Sign In</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}