<div class="modal fade" id="expense-modal-{{ uid }}" tabindex="-1" aria-labelledby="activity-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="modal-title fs-5 mb-3" id="activity-modal-label">{{ description }}</h1>
                <p><b>Account:</b>&nbsp;{{ account }}</p>
                <p><b>Amount:</b>&nbsp;{{ amount }}</p>
                {% if category %}
                <p><b>Category:</b>&nbsp;{{ category }}</p>
                {% endif %}
                <p><b>Created at:</b>&nbsp;{{ created_at|date:'d M Y, h:i a' }}</p>
                {% if image %}
                <img class="img-thumbnail mb-2" src="{{ image }}">
                {% endif %}
                <button type="button" class="text-end btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>