{% load static %}

<label class="form-label" for="id_image">Image:</label>
<div class="mb-2" id="imageContainer">
    <input class="form-control" type="file" name="image" accept="image/*" id="imageInput">
    <button class="btn btn-outline-secondary d-none" type="button" id="imageRemoveButton">Clear</button>
    {% for error in errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
</div>

{% if image %}
<div class="mb-2 form-text">Upload new image to replace current image</div>
{% endif %}

<a href={% if image %}{{ image.image.url }}{% else %}#{% endif %} id="imageLink" target="_blank">
    <img
        class="img-thumbnail mb-2 {% if not image %}d-none{% endif %}"
        src={% if image %}{{ image.image.url }}{% else %}""{% endif %}
        alt="Expenses attachment"
        style="object-fit: cover; width: 100px; height: 100px"
        id="imagePreview"
    />
</a>
<br>

<script src="{% static 'imageForm.js' %}"></script>
