{% load static %}

<label class="form-label" for="id_image">Image:</label>
<div class="mb-2" id="imageContainer">
    <input class="form-control" type="file" name="image" accept="image/*" id="imageInput">
    <button class="btn btn-outline-secondary d-none" type="button" id="imageRemoveButton">Clear</button>
    {% for error in image_form.image.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
</div>

<a href="#" id="imageLink" target="_blank">
    <img
        class="img-thumbnail mb-2 d-none"
        src=""
        alt="Expenses attachment"
        style="object-fit: cover; width: 100px; height: 100px"
        id="imagePreview"
    />
</a>
<br>
<script src="{% static 'imageForm.js' %}"></script>